.mainContainer {
  padding: 20px;
}

.mentorInfo {
  display: flex;
  width: 100%;
  font-weight: 800;
  font-size: 1.5rem;
}
.mentorAbout {
  margin-right: 10px;
}

.mentorName {
  color: #12e000;
}

.mentorDetails {
  margin-top: 30px;
}
