.prerequisite {
  margin-top: 20px;
  margin-left: 20px;
}

.prerequisite h2 {
  font-weight: 800;
  color: #12e000;
  margin-bottom: 10px;
  margin-top: 0px;
}

.prerequisiteUl {
  list-style-type: disc;
  display: block;
  padding-left: 20px;
}
