.sideBarContainer {
  max-width: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.sideBarContainer img {
  width: 100px;
  height: 60px;
  margin-top: 30px;
}

.sideBarContainer button {
  font-family: "Lexend";
  font-weight: 400;
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5px 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
