.studentNotesField {
  width: 100%;
  height: 200px;
  text-align: center;
  position: relative;
}

.studentNotesField p {
  position: absolute;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
}

.titleInput {
  width: 400px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #12e000;
  position: absolute;
  top: 100px;
  left: 100px;
}

.studentNotesField .filter {
  width: 200px;
  height: 35px;
  border: 1px solid #12e000;
  border-radius: 20px;
  position: absolute;
  top: 100px;
  right: 120px;
}
