.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content:space-evenly;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}

.home {
  margin-left: 10px;
  height: 80%;
}

.home img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  /* image-rendering: pixelated; */
  transition: transform 0.3s ease;
}
.home img:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

li {
  width: 165px;
  height: 74px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 28.5px;
  color: #5bef00;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, text-shadow 0.3s;
}
li:hover {
  color: #5eb925;
  text-shadow: 1px 4px 8px rgba(0, 0, 0, 0.37);
}

ul button {
  font-family: "Lato", sans-serif;
  font-size: large;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: #5bef00;
  border: none;
  margin-right: 20px;
  text-align: center;
}

ul button:hover {
  background-color: #5eb925;
  cursor: pointer;
}
.about {
  text-decoration: none;
}

.events {
  text-decoration: none;
}

.login {
  text-decoration: none;
}
.menuicon{
  display:none
}

@media only screen and (max-width: 768px) {

  .menuicon{
    display:block;
    font-size: 1.6rem;
    padding:4px 12px;
    background-color: #5bef00;
    color:white;
    position:fixed;
    top:0;
    right:0;
    transform: translate(-100%,60%);
  }
  
  .header{
    height:fit-content;
    flex-direction: column;
  }
  .home img{
    height: 7rem;
    width: 12rem;
  }
 
  .hiddenmenu{
    display:none;
    opacity: 0;
    transition: all 0.5s ease;
  }
 ul{
  
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  width:100%;
  border-top:1px solid #d9d9d9;
  z-index: 1;
  margin-bottom: 20px;
  opacity:1;
  transition: all 0.5s ease;
 }
 ul button{
  width: fit-content;
  height: fit-content;
 }
 li{
  width: fit-content;
  height: 44px;
 }
}
