.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
}

.home {
  margin-left: 10px;
  height: 80%;
}

.home img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  margin-top: 0;
  transition: transform 0.3s ease;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .home img {
    width: 120px;
  }

  .header {
    height: 60px;
  }

  .home {
    margin-left: 5px;
  }
}

.home img:hover {
  transform: scale(1.1);
}

.homeUl {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0px;
  padding: 0px;
  align-items: center;
}

.aboutLi {
  width: 165px;
  height: 74px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  line-height: 28.5px;
  color: #5bef00;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, text-shadow 0.3s;
}

.aboutLi:hover {
  color: #5eb925;
  cursor: pointer;
}

/* Media queries for smaller screens, adjust as needed */
@media (max-width: 480px) {
  .aboutLi {
    width: 130px;
    font-size: 20px;
  }
}

ul button {
  font-family: "Lato", sans-serif;
  font-size: large;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: #5bef00;
  border: none;
  margin-right: 20px;
  text-align: center;
}

ul button:hover {
  background-color: #5eb925;
  cursor: pointer;
}

.homeUl li {
}

.about {
  text-decoration: none;
}

.circles {
  text-decoration: none;
}

events {
  text-decoration: none;
}

.login {
  text-decoration: none;
}
