.requestContainer {
  width: 70%;
  height: 40px;
  border: 1px solid #000000;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.requestContainer .circle {
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.requestContainer .text {
  margin-right: 200px;
  flex-grow: 1;
  text-align: center;
}

.requestContainer .viewButton {
  background: #12e000;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px;
}
