table {
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

th,
td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
