.homeBackground1 {
  width: 90%;
  height: 600px;
  background-image: url(/homeBackground1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #d9d9d9;
}

.homeBackground1 p {
  padding-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  color: white;
}

.journey {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.homeBackground2 {
  width: 100%;
  height: 500px;
  position: relative;
  /* border: 5px solid #000000; */
}
.homeBackground2 img {
  width: 100%;
  height: 100%;
  filter: blur(7px);
  object-fit: cover;
}

.homeBackground2 .container {
  position: absolute;
  z-index: 1;
  top: 10px;
  text-align: center;
}

.beDreamer {
  position: relative;
  top: 20px;
  font-size: 3rem;
  color: white;
  font-family: "Lato" sans-serif;
  font-weight: 900;
}

.dreamerText {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
  position: relative;
  top: 50px;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 30px;
}

.dreamerText button {
  padding: 5px;
  font-family: "Lato";
  font-size: 1.5rem;
  color: black;
  font-style: italic;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dreamerText button:hover {
  background-color: white;
}

.explore {
  font-family: "Lexend", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circles {
  width: 80%;
  height: 550px;
  border: 1px solid #000000;
  margin: auto;
  margin-bottom: 10px;
}

.circle1 {
  font-family: "Lexend", sans-serif;
  background-color: #12e000;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.circle1 .title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  position: relative;
  top: 15px;
}

.circle1 .mentor {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 15px;
}

.circle1 .titleText {
  width: 70%;
  margin: auto;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 30px;
}

.bottomCircles {
  display: flex;
  justify-content: space-around;
}
.circle2 {
  font-family: "Lexend", sans-serif;
  background-color: #12e000;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.circle2 .title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  position: relative;
  top: 15px;
}

.circle2 .mentor {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 15px;
}

.circle2 .titleText {
  width: 70%;
  margin: auto;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 30px;
}
.circle3 {
  font-family: "Lexend", sans-serif;
  background-color: #12e000;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.circle3 .title {
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  position: relative;
  top: 15px;
}

.circle3 .mentor {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 15px;
}

.circle3 .titleText {
  width: 70%;
  margin: auto;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
  position: relative;
  top: 30px;
}

.viewMore {
  width: 100px;
  height: 40px;
  margin: auto;
  font-size: 1rem;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  position: relative;
  bottom: 30px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-color: transparent;
  cursor: pointer;
}

.viewMore:hover {
  background-color: rgb(205, 255, 204);
}
.viewMore span {
  position: relative;
  top: 10px;
}

.peopleComments {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.commentBox {
  width: 300px;
  height: 350px;
  border-radius: 15px;
  border: 2px solid #5bef00;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

.commentBox .comment {
  text-align: justify;
  font-size: 0.8rem;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50%;
  margin: auto;
  margin-top: 10px;
  border: 2px solid #000000;
}

.userIcon {
  font-family: "Lexend";
  font-size: 50px;
  position: relative;
  left: 25px;
  top: 20px;
}

.commentBox span {
  position: absolute;
  bottom: 20px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  white-space: nowrap;
}
.needHelp {
  width: 100%;
  height: 200px;
  margin-bottom: 150px;
  /* background-color: #850000; */
}

.needHelpText {
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0em;
  margin-top: 50px;
}

.helpIcons {
  display: flex;
  justify-content: center;
}

.circleOfIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #000000;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 780px) {
  .homeBackground1 p {
    font-size: 2rem;
  }

  .journey {
    font-size: 1rem;
  }

  .beDreamer {
    font-size: 2rem;
  }
  .dreamerText {
    font-size: 1rem;
  }
  .explore {
    font-size: 1.5rem;
  }
  .whatPeopleSay {
    font-size: 1.5rem;
  }
  .commentBox span {
    font-size: 1rem;
  }

  .circle1 .title {
    font-size: 1rem;
  }
  .circle2 .title {
    font-size: 1rem;
  }
  .circle3 .title {
    font-size: 1rem;
  }
  .circle1 .mentor {
    font-size: 0.8rem;
  }
  .circle2 .title {
    font-size: 0.8rem;
  }
  .circle3 .mentor {
    font-size: 0.8rem;
  }
  .circle1 {
    height: 200px;
    width: 200px;
  }
  .circle2 {
    height: 200px;
    width: 200px;
  }
  .circle3 {
    height: 200px;
    width: 200px;
  }
  .circles {
    height: 480px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }

  .userIcon {
    font-size: 40px;
    left: 25px;
  }

  .commentBox {
    height: 250px;
  }
}
